*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  /* font-family: 'Avenir Next Cyr Regular';  */
  font-family: 'Avenir Next Cyr', sans-serif;
}

/* @font-face {
  font-family: 'Avenir Next Cyr Regular';
  src: url('AvenirNextCyr-Regular.eot');
  src: url('AvenirNextCyr-Regular.eot?#iefix') format('embedded-opentype'),
    url('AvenirNextCyr-Regular.woff') format('woff'),
    url('AvenirNextCyr-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} */
@import url('https://fonts.cdnfonts.com/css/avenir-next-cyr');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');


/* @font-face {
  font-family: 'Avenir Next Cyr Bold';
  src: url('AvenirNextCyr-Bold.eot');
  src: url('AvenirNextCyr-Bold.eot?#iefix') format('embedded-opentype'),
  url('AvenirNextCyr-Bold.woff') format('woff'),
  url('AvenirNextCyr-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  } */

:root {
  --white: #fff;
  --black: #000;
  --bgMainLight: #40E6E6;
  --bgMainDark: #1A488B;
  --bodyTxt: #5C5C5C;

}

.container {
  max-width: 1200px;
  margin: 47px auto;
  padding: 0 12px;

  /* padding: 0 1; */

}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin: 0 12px; */
}

.logo-wrapper {
  text-transform: uppercase;
  display: flex;

  height: 58px;
  font-size: 28px;
  font-weight: 700;
  line-height: 58px;
}

.logo-one {
  background: var(--bgMainLight);
  color: var(--white);
}

.logo-two {
  color: var(--bgMainDark);
}

/* .menu-nav{
    display: flex;
  } */
.menu-nav a {
  font-size: 18px;
  color: var(--bodyTxt);
  text-decoration: none;
  margin-right: 60px;
}

.menu-nav a:hover {
  color: var(--bgMainLight);
}

.menu-nav a:last-child {
  margin-right: 0px;
  /* background: red; */
}

.telephone a {
  font-size: 22px;
  color: var(--black);
  text-decoration: none;
}

.telephone a:hover {
  color: var(--bgMainLight);
}

.displayOne-wrapper {
  display: flex;
}

.column {
  width: 50%;
}

.left {
  margin-right: 50px;
}

.title {
  font-size: 36px;
  font-weight: 700;
  color: var(--bgMainLight);
  margin-bottom: 49px;
}

.title span {
  color: var(--bgMainDark);
}


.subtitle {
  font-size: 22px;
  color: var(--bodyTxt);
  margin-bottom: 76px;
}

.subtitle span {
  color: var(--bgMainDark);
  font-weight: 700;
}

.btn {
  width: 340px;
  height: 90px;
  background: var(--bgMainDark);
  border-radius: 15px;
  color: var(--white);
  font-size: 28px;
  line-height: 90px;
  text-align: center;
  -webkit-box-shadow: 3px 3px 8px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 3px 3px 8px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 3px 3px 8px 2px rgba(34, 60, 80, 0.2);
  transition: .5s ease;

  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

.active {
  background: var(--bgMainLight);

}

.btn:hover {
  background: var(--bgMainLight);

}

.column .right {}

.window-video {
  width: 600px;
  height: 456px;
  background: var(--white);
  box-shadow: 0px 6px 75px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  position: relative;
}

.btn-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 148px;
  color: var(--bgMainDark);
  transition: .5s ease;
}

.btn-play:hover {
  color: var(--bgMainLight);
}

.working-with-wrapper {}

.working-with__title {
  font-size: 32px;
  color: var(--bodyTxt);
  margin-bottom: 43px;
}

.slider-wrapper {
  width: 730px;
  display: flex;
  max-width: 95%;
  margin: 20px auto;
  flex-direction: column;
  overflow: hidden;
}

.slider-line {
  display: flex;
  transform: translateX(1px);
  margin-bottom: 60px;
}

.slider-line img {
  margin: 10px;
}

input[type=range] {
  width: 300px;
  margin: 0 auto;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 26px;
  border-top: 2px solid var(--bodyTxt);
}

input[type=range]::-webkit-slider-thumb {

  cursor: pointer;
  width: 26px;
  height: 12px;
  background: #1C427A;
  border-radius: 43px;
  transform: rotate(-75deg);
  -webkit-appearance: none;
  margin-top: -7px;
}

.tabs-wrapper {
  padding: 70px 0;


}

.section-tabs {
  background: #F4FAFF;


}

.tabs-title {

  font-size: 48px;
  text-align: center;
  color: var(--bgMainDark);
  margin-bottom: 62px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.btn {}

.btn__tabs {
  width: 250px;
  height: 91px;
  line-height: 26px;
  font-size: 22px;
  font-weight: 700;
  display: flex;
  align-items: center;

}

.tabs-wrapper {}

.tab {
  display: none;
}

.tab_active {
  display: flex;
}

.tabs-column-left {
  width: 50%;
  margin-right: 40px;
}

.tabs-column-left h2 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 30px;
}

.tabs-column-left p {
  font-size: 18px;
  color: var(--bodyTxt);
  margin-bottom: 40px;
}

.tabs-column-left p span {
  font-weight: 700;
}

.tabs-items {
  display: flex;
  justify-content: space-between;
}

.tabs__item {
  font-size: 18px;
  color: var(--bodyTxt);
  width: 162px;
}

.tabs__item span {
  font-size: 22px;
  color: var(--bgMainDark);
  font-weight: 700;
}

.tabs-column-right {
  margin-left: 40px;

}

.window-video-tab {
  width: 560px;
  height: 340px;
  background: var(--white);
  box-shadow: 0px 6px 75px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  position: relative;
}

.callCenter {}

.bgCallCenter {
  background-image: url(img/imagephone.png);
  background-position: calc(50% + 482px) top;
  background-repeat: no-repeat;
  background-size: 1230px;
}

.container {}

.container_callCenter {
  margin-top: -47px;
  padding: 47px 0;
}

.callCentet-title {
  font-size: 32px;
  color: var(--bodyTxt);
  margin-bottom: 60px;
}

.callCenterPhone {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 5px;
}

.callCenterPhone a {
  text-decoration: none;
  color: var(--bgMainDark);
}

.callCenterPhone a:hover {
  color: var(--bgMainLight);
}

.callCenterSubtitle {
  font-size: 22px;
  color: var(--bodyTxt);
  margin-bottom: 68px;
}

.callCenterSubtitle span {
  font-weight: 700;
}

.callCenterBtn {}

.btn {}

.manual {}

.container {}

.manual-title {
  font-size: 48px;
  color: var(--bgMainDark);
  font-weight: 700;

  /* font-family: 'sans-serif'; */
}

.manual-wrapper {
  display: flex;
}

.manual-column-left {
  width: 50%;
}

.manual-column-left img {
  width: 100%;
  height: auto;
  transform: rotate(11deg);
}

.manual-column-right {
  position: relative;
  width: 50%;
}

.manual-item-wrapper {
  position: relative;
  padding-top: 70px;
  width: 100%;
  height: 100%;
}

.manual-item:nth-child(1) {
  left: 10%;
  top: 11%;
  transform: translate(0%, -30%);
}

.manual-item:nth-child(1)::before {
  left: 100%;
  top: 50%;
  position: absolute;
  content: '';
  width: 50px;
  height: 1px;
  border-top: var(--bgMainDark) dashed 1px;
  /* background: red; */
  display: block;
}

.manual-item:nth-child(5)::before {
  left: 100%;
  top: 50%;
  position: absolute;
  content: '';
  width: 50px;
  height: 1px;
  border-top: var(--bgMainDark) dashed 1px;
  /* background: red; */
  display: block;
}

.manual-item:nth-child(2) {
  right: 13%;
  top: 26%;
  transform: translate(0, -30%);
}

.manual-item:nth-child(2)::before {
  right: 100%;
  top: 50%;
  position: absolute;
  content: '';
  width: 50px;
  height: 1px;
  border-top: var(--bgMainDark) dashed 1px;
  /* background: red; */
  display: block;
}

.manual-item:nth-child(3) {
  left: 13%;
  top: 42%;
  transform: translate(0, -47%);
}

.xxxxxx {
  width: 500px;
  height: auto;
}

.manual-item:nth-child(3)::before {
  left: 100%;
  top: 50%;
  position: absolute;
  content: '';
  width: 50px;
  height: 1px;
  border-top: var(--bgMainDark) dashed 1px;
  /* background: red; */
  display: block;
}

.manual-item:nth-child(4) {
  right: -9%;
  bottom: 45%;
  transform: translate(0, 51%);
}

.manual-item:nth-child(4)::before {
  right: 100%;
  top: 50%;
  position: absolute;
  content: '';
  width: 50px;
  height: 1px;
  border-top: var(--bgMainDark) dashed 1px;
  /* background: red; */
  display: block;
}

.manual-item:nth-child(5) {
  left: 5%;
  bottom: 15%;
  transform: translate(0%, -35%);
}

.manual-item {
  position: absolute;
  background: #FFFFFF;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 10px;
  display: inline-block;
  text-align: center;
}

.btnCall {
  display: block;
  margin: 0 auto;
  margin-top: -75px;
  z-index: 10;
  position: relative;
}

/* .btnCall span{
  background: red;
  width: 28px;
  height: 28px;
  font-size: 10px;
  position: absolute;
  top: 0%;
  left: 0%;
  color: black;
} */
.btnCall span:nth-child(1):before {
  content: '1';
  background: var(--bgMainDark);
  border-radius: 50px;
  width: 28px;
  height: 28px;
  position: absolute;
  top: -521%;
  /* left: 0%; */
  color: var(--white);
  line-height: 28px;
  font-size: 22px;
}

.btnCall span:nth-child(2):before {
  content: '2';
  background: var(--bgMainDark);
  border-radius: 50px;
  width: 28px;
  height: 28px;
  position: absolute;
  top: -418%;
  /* left: 0%; */
  color: var(--white);
  line-height: 28px;
  font-size: 22px;
}

.btnCall span:nth-child(3):before {
  content: '3';
  background: var(--bgMainDark);
  border-radius: 50px;
  width: 28px;
  height: 28px;
  position: absolute;
  top: -318%;
  /* left: 0%; */
  color: var(--white);
  line-height: 28px;
  font-size: 22px;
}

.btnCall span:nth-child(4):before {
  content: '4';
  background: var(--bgMainDark);
  border-radius: 50px;
  width: 28px;
  height: 28px;
  position: absolute;
  top: -231%;
  /* left: 0%; */
  color: var(--white);
  line-height: 28px;
  font-size: 22px;
}

.btnCall span:nth-child(5):before {
  content: '5';
  background: var(--bgMainDark);
  border-radius: 50px;
  width: 28px;
  height: 28px;
  position: absolute;
  top: -120%;
  /* left: 0%; */
  color: var(--white);
  line-height: 28px;
  font-size: 22px;
}

.btnCall span:before {
  content: '5';
  background: var(--bgMainDark);
  border-radius: 50px;
  width: 28px;
  height: 28px;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, 0%);
  color: var(--white);
  line-height: 28px;
  font-size: 22px;
}


.line::before {
  left: 50%;
  transform: translate(-50%, 0%);

  bottom: 74px;
  position: absolute;
  display: block;
  content: '';
  width: 2px;
  height: 530px;
  background: rgb(38, 79, 140);
  background: linear-gradient(0deg, rgba(38, 79, 140, 1) 0%, rgba(240, 252, 255, 1) 100%);
}

.mission {}

.container {}

.missonsMainWrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.missonsMainWrapper h2 {
  color: var(--bgMainDark);
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  margin-bottom: 52px;
}

.missonsMainWrapper p {
  color: var(--bodyTxt);
  font-size: 36px;
  text-align: center;
  margin-bottom: 88px;
}

.missions-wrapper {
  display: flex;
  justify-content: space-between;
}

.missons-item {
  width: 260px;
  /* height: 180px; */
  background: var(--white);
  box-shadow: 0px 10px 45px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 20px 10px;
}

.missons-item__title {
  font-size: 18px;
  color: var(--bodyTxt);
}

.missons-item__title span {
  font-size: 32px;
  color: var(--bgMainDark);
  font-weight: 700;
  line-height: 65px;
}

.container h2 {
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  color: var(--bgMainDark);
  margin-bottom: 50px;

}

.platform-item {
  position: relative;

  background: #F4FAFF;
  border-radius: 25px;
  display: flex;
  margin-bottom: 70px;
}

.platform-item__quotes {}

.platform-item__img {
  height: 100%;
}

.platform-item__text {
  font-size: 18px;
  padding: 0 60px;
  margin: auto 0;
}

.platform-item__text::before {
  content: ',,';
  position: absolute;
  font-size: 120px;
  letter-spacing: -20px;
  right: 8%;
  top: -33%;
  color: var(--bgMainLight);
  font-family: 'Russo One', sans-serif;

}

.platform-item__text h3 {
  font-weight: 700;
  /* margin-top: 55px; */
  margin-bottom: 25px;

}

.platform-item__text p {
  color: var(--bodyTxt);
}

.features {
  background: #F4FAFF;
  padding: 15px 0;
}

.container {}

.features-wrapper {
  column-width: 400px;
  padding: 0 140px;
  column-count: 2;
  column-gap: 10%;
  font-size: 22px;
  line-height: 27px;


  color: var(--bodyTxt);
}

.features__item {
  position: relative;
  margin-bottom: 50px;
  margin-left: 15px;
}

.features__item::before {
  content: '\2713';
  position: absolute;
  left: -45px;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 40px;
  font-weight: 700;
  color: var(--bgMainLight);

}

.featuresBtn {
  margin: 0 auto;
}

.video {}

.container {}

.video-wrapper {
  display: flex;
  justify-content: space-around;
}

.video__item {
  border-radius: 30px 30px 0px 0px;
  width: 300px;
  height: 160px;
  background: var(--white);
  filter: drop-shadow(0px 10px 70px rgba(0, 0, 0, 0.1));

}
.video__item .btn-play{
  font-size: 86px;
  cursor: pointer;
}

.video__item__name {
  text-align: center;
  color: var(--bodyTxt);
  font-size: 18px;
  line-height: 68px;
  width: 300px;
  height: 68px;
  background: var(--white);
  border-radius: 0px 0px 30px 30px;
  filter: drop-shadow(0px 10px 70px rgba(0, 0, 0, 0.1));

}

.footer {
  background: #F4FAFF;
  padding-top: 50px;
}

.container {}

.head-footer {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--bodyTxt);
}

.head-footer-column {
  display: flex;
  flex-direction: column;

}

.head-footer-column a {
  color: var(--bodyTxt);
  text-decoration: none;
  margin-bottom: 19px;

}

.head-footer-column img {
  margin-bottom: 22px;
  cursor: pointer;

}

.head-footer-column a span {
  font-weight: 700;

}

.head-footer-column a:hover {
  color: var(--bgMainLight);

}

.footer-container {
  margin-bottom: 0px;
}

.foot-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0;
}

.foot-footer-column p {
  font-size: 14px;
  text-align: center;
  margin-bottom: 17px;
  color: var(--bodyTxt);
}

.foot-footer-column {
  font-size: 30px;
  color: var(--bodyTxt);
}

.logo-wrapper {}

.logo-one {}

.logo-two {}

.fa-brands {
  color: var(--bodyTxt);
  margin-right: 7px;
  cursor: pointer;
}

.fa-brands:hover {
  color: var(--bgMainLight);
}

.fa-instagram {}

.fa-twitter {}

.fa-facebook {}